# Supabase Project Configurations
SUPABASE_URL=your_supabase_project_url
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SECRET_KEY=your_supabase_secret_key

# External APIs
GOLF_API_KEY=your_golfapi_io_key
